#btn
{
    width: 75px;
    height: 50px;
    color: white;
    background-color: #1A237E;
    margin: auto;
    margin-top: 22px;
}


#card {
    width: 300px;
    height: 202px;
    margin-top: 33px;

    background-color: #9FA8DA;
    margin-left: 39%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 500px;
    height: 100px;
   margin-left: 31%;
    margin-top: 20px;
  }